@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background: #c12727;
  font-size: 16px;
  font-weight: 400;
}

#root {
  margin: 0;
  padding: 0;
}

/* Remove list styles globally */
ul {
  list-style: none;
}

/* Remove link underlines globally */
a {
  text-decoration: none;
}
